@import url('https://fonts.cdnfonts.com/css/lufga');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  


body {
    font-family: 'Lufga', sans-serif;
    margin: 0;
    padding: 0;
  
    
}

